[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

# Activer Netlify Identity pour l'admin
[context.production]
  command = "npm run build"
# Deployed on mer. 12 nov. 2025 15:43:36 CET
